<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML & CSS</title>
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia"> -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Header -->
    <div class="header">
        <div class="container">
            <div class="logo">
                <img src="images/logo-alt.webp" alt="logo image" draggable="false">
            </div>
            <ul class="nav">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href=" #"> Portfolio</a>
                </li>
                <li><a href="#">Service</a></li>
                <li class="dropdown">
                    <a href=" #">Blog</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">blog post</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Team</a></li>
                <li><a href=" #">Price</a>
                </li>
                <li>
                    <a href="#">Content</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- ./container -->
    </div>
    <!-- ./header -->

    <!-- Home -->
    <div class=" home ">
        <div class="overlay ">
            <div class="home-content">
                <h1 class="title ">Lorem ipsum dolor sit consectetur.</h1>
                <p class="description ">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, cupiditate in amet placeat voluptatum provident Laboriosam, cupiditate in amet placeat voluptatum provident
                </p>
                <button class="btn btn-start hover-opacity ">Get Start</button>
                <button class="btn btn-learn hover-opacity ">Learn More</button>
            </div>
            <!-- ./home-content -->
        </div>
        <!-- ./overlay -->
    </div>
    <!-- ./home -->
    <!-- About Section-->
    <div class="about section-padding">
        <div class="section-header">
            <h2 class="section-title">welcome to website </h2>
            <span class="line"></span>
        </div>
        <!-- ./section-header -->
        <div class="container">
            <div class="about-content">
                <div class="about-item ltr-effect">
                    <i class="icons fa fa-cogs fa-2x"></i>
                    <h2 class="item-name">Fully Customizible</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur adipisicing elit</p>
                    <a href="#" class="about-link">Read more</a>
                </div>
                <!-- ./about-item -->

                <div class="about-item margin ltr-effect">
                    <i class="icons fa fa-mobile fa-2x"></i>
                    <h2 class="item-name">Fully Responsive</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur adipisicing elit</p>
                    <a href="#" class="about-link">Read more</a>
                </div>
                <!-- ./about-item -->

                <div class="about-item ltr-effect">
                    <i class="icons fa fa-magic fa-2x"></i>
                    <h2 class="item-name">Awesome Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur adipisicing elit</p>
                    <a href="#" class="about-link">Read more</a>
                </div>
                <!-- ./about-item -->
            </div>
            <!-- ./about-content -->
        </div>
        <!-- ./container -->
    </div>
    <!-- ./about -->

    <!-- Portfolio Section  -->
    <div class="portfolio section-padding">
        <div class="section-header">
            <h2 class="section-title">Featured Works</h2>
            <span class="line"></span>
        </div>
        <!-- ./section-header -->
        <div class="container">
            <div class="portfolio-content">
                <div class="portfolio-item">
                    <img src="images/work/work1.png" alt="">
                    <div class="layer-content">
                        <div class="layer-info">
                            <span class="category">category</span>
                            <h2 class="title">Lorem, ipsum dolor.</h2>
                            <i class="fa fa-edit fa-lg"></i>
                            <i class="fa fa-search fa-lg"></i>
                        </div>
                        <!-- ./layer-info -->
                    </div>
                    <!-- ./layer-content -->
                </div>
                <!-- ./portfolio-item -->
                <div class="portfolio-item img-mg">
                    <img src="images/work/work2.webp" alt="">
                    <div class="layer-content">
                        <div class="layer-info">
                            <span class="category">category</span>
                            <h2 class="title">Lorem, ipsum dolor.</h2>
                            <i class="fa fa-edit fa-lg"></i>
                            <i class="fa fa-search fa-lg"></i>
                        </div>
                        <!-- ./layer-info -->
                    </div>
                    <!-- ./layer-content -->
                </div>
                <!-- ./portfolio-item -->
                <div class="portfolio-item">
                    <img src="images/work/work3.webp" alt="">
                    <div class="layer-content">
                        <div class="layer-info">
                            <span class="category">category</span>
                            <h2 class="title">Lorem, ipsum dolor.</h2>
                            <i class="fa fa-edit fa-lg"></i>
                            <i class="fa fa-search fa-lg"></i>
                        </div>
                        <!-- ./layer-info -->
                    </div>
                    <!-- ./layer-content -->
                </div>
                <!-- ./portfolio-item -->
                <div class="portfolio-item">
                    <img src="images/work/work4.webp" alt="">
                    <div class="layer-content">
                        <div class="layer-info">
                            <span class="category">category</span>
                            <h2 class="title">Lorem, ipsum dolor.</h2>
                            <i class="fa fa-edit fa-lg"></i>
                            <i class="fa fa-search fa-lg"></i>
                        </div>
                        <!-- ./layer-info -->
                    </div>
                    <!-- ./layer-content -->
                </div>
                <!-- ./portfolio-item -->
                <div class="portfolio-item img-mg">
                    <img src="images/work/work5.webp" alt="">
                    <div class="layer-content">
                        <div class="layer-info">
                            <span class="category">category</span>
                            <h2 class="title">Lorem, ipsum dolor.</h2>
                            <i class="fa fa-edit fa-lg"></i>
                            <i class="fa fa-search fa-lg"></i>
                        </div>
                        <!-- ./layer-info -->
                    </div>
                    <!-- ./layer-content -->
                </div>
                <!-- ./portfolio-item -->
                <div class="portfolio-item">
                    <img src="images/work/work6.webp" alt="">
                    <div class="layer-content">
                        <div class="layer-info">
                            <span class="category">category</span>
                            <h2 class="title">Lorem, ipsum dolor.</h2>
                            <i class="fa fa-edit fa-lg"></i>
                            <i class="fa fa-search fa-lg"></i>
                        </div>
                        <!-- ./layer-info -->
                    </div>
                    <!-- ./layer-content -->
                </div>
                <!-- ./portfolio-item -->
            </div>
            <!-- ./portfolio-content -->
        </div>
        <!-- ./container -->
    </div>
    <!-- ./portfolio -->

    <!-- Offer Section -->
    <div class="offer section-padding">
        <div class="section-header">
            <h2 class="section-title">what we offer</h2>
            <span class="line"></span>
        </div>
        <!-- ./section-header -->
        <div class="container">
            <div class="offer-content">
                <div class="offer-item ltr-effect">
                    <i class="icon fa fa-diamond fa-2x"></i>
                    <h2 class="offer-title">app development</h2>
                    <p class="offer-desc">Lorem ipsum dolor sit amet consectetur adipisicing. Lorem ipsum dolor sit.</p>
                </div>
                <!-- ./offer-item -->
                <div class="offer-item offer-mg ltr-effect">
                    <i class="icon fa fa-rocket fa-2x"></i>
                    <h2 class="offer-title">graphic design</h2>
                    <p class="offer-desc">Lorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit..</p>
                </div>
                <!-- ./offer-item -->
                <div class="offer-item ltr-effect">
                    <i class="icon fa fa-pencil fa-2x"></i>
                    <h2 class="offer-title">awesome support</h2>
                    <p class="offer-desc">Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit.</p>
                </div>
                <!-- ./offer-item -->
                <div class="offer-item ltr-effect">
                    <i class="icon fa fa-cogs fa-2x"></i>
                    <h2 class="offer-title">creative idea</h2>
                    <p class="offer-desc">Lorem ipsum dolor sit amet consectetur adipisicingLorem ipsum dolor sit..</p>
                </div>
                <!-- ./offer-item -->
                <div class="offer-item offer-mg ltr-effect">
                    <i class="icon fa fa-diamond fa-2x"></i>
                    <h2 class="offer-title">marketing</h2>
                    <p class="offer-desc">Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit.</p>
                </div>
                <!-- ./offer-item -->
                <div class="offer-item ltr-effect">
                    <i class="icon fa fa-flask fa-2x"></i>
                    <h2 class="offer-title">brand design</h2>
                    <p class="offer-desc">Lorem ipsum dolor sit amet consectetur adipisicing.Lorem ipsum dolor sit.</p>
                </div>
                <!-- ./offer-item -->
            </div>
            <!-- ./offer-content -->
        </div>
        <!-- ./container -->
    </div>
    <!-- ./offer -->
    <!-- Service Section -->
    <div class="service section-padding">
        <div class="container">
            <div class="service-item">
                <div class="section-header">
                    <h2 class="section-title">why choose us</h2>
                    <span class="line"></span>
                </div>
                <p class="service-item-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.

                </p>
                <!-- ./service-item-desc -->
                <ul class="service-list">
                    <li><i class="fa fa-check fa-fw"></i> Lorem ipsum dolor sit amet consectetur.</li>
                    <li><i class="fa fa-check fa-fw"></i> Lorem ipsum dolor sit amet consectetur.</li>
                    <li><i class="fa fa-check fa-fw"></i> Lorem ipsum dolor sit amet consectetur.</li>
                    <li><i class="fa fa-check fa-fw"></i> Lorem ipsum dolor sit amet consectetur.</li>
                    <li><i class="fa fa-check fa-fw"></i> Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
                <!-- ./service-list -->
                <!-- ./section-header -->
            </div>
            <!-- ./service-item -->
            <div class="service-item">
                <div class="service-item-img">
                    <img src="images/about/about1.webp" alt="">
                </div>
                <ul class="service-bollets">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <!-- ./service-item -->
            <div class="clear"></div>
            <!-- ./clear -->
        </div>
        <!-- ./container -->
    </div>
    <!-- ./service -->
    <!-- number Section -->
    <div class="number">
        <div class="overlay">
            <div class="container">
                <div class="numbers-items section-padding">
                    <div class="number-item">
                        <i class="icon fa fa-users fa-2x"></i>
                        <h2 class="number-title">451</h2>
                        <span class="number-desc">happy client</span>
                    </div>
                    <!-- ./number-item -->
                    <div class="number-item">
                        <i class="icon fa fa-trophy fa-2x"></i>
                        <h2 class="number-title">451</h2>
                        <span class="number-desc">happy client</span>
                    </div>
                    <!-- ./number-item -->
                    <div class="number-item">
                        <i class="icon fa fa-coffee fa-2x"></i>
                        <h2 class="number-title">451</h2>
                        <span class="number-desc">happy client</span>
                    </div>
                    <!-- ./number-item -->
                    <div class="number-item">
                        <i class="icon fa fa-file fa-2x"></i>
                        <h2 class="number-title">451</h2>
                        <span class="number-desc">happy client</span>
                    </div>
                    <!-- ./number-item -->
                </div>
                <!-- ./numbers-items -->
            </div>
            <!-- ./container -->
        </div>
        <!-- ./overlay -->
    </div>
    <!-- ./number -->
    <!-- Pricing -->
    <div class="pricing section-padding">
        <div class="section-header">
            <h2 class="section-title">Pricing table</h2>
            <span class="line"></span>
        </div>
        <!-- ./section-header -->
        <div class="container">
            <div class="pricing-plan">
                <div class="pricing-item tb-effect">
                    <span class="pricing-title">basic plan</span>
                    <div class="pricing-permonth">
                        <h2 class="doller">$9</h2>
                        <span class="month">/ Month</span>
                    </div>
                    <!-- ./pricing-permonth -->

                    <ul class="pricing-list">
                        <li>1GB Basic Space</li>
                        <li>100 Email Account</li>
                        <li>24/24 Support</li>
                    </ul>
                    <button class="purcash">purcash now</button>
                </div>
                <!-- ./pricing-item -->
                <div class="pricing-item mg tb-effect">
                    <span class="pricing-title">basic plan</span>
                    <div class="pricing-permonth">
                        <h2 class="doller">$19</h2>
                        <span class="month">/ Month</span>
                    </div>
                    <!-- ./pricing-permonth -->

                    <ul class="pricing-list">
                        <li>1GB Basic Space</li>
                        <li>100 Email Account</li>
                        <li>24/24 Support</li>
                    </ul>
                    <button class="purcash">purcash now</button>
                </div>
                <!-- ./pricing-item -->
                <div class="pricing-item tb-effect">
                    <span class="pricing-title">basic plan</span>
                    <div class="pricing-permonth">
                        <h2 class="doller">$29</h2>
                        <span class="month">/ Month</span>
                    </div>
                    <!-- ./pricing-permonth -->
                    <ul class="pricing-list">
                        <li>1GB Basic Space</li>
                        <li>100 Email Account</li>
                        <li>24/24 Support</li>
                    </ul>
                    <button class="purcash">purcash now</button>
                </div>
                <!-- ./pricing-item -->
            </div>
            <!-- ./pricing-plan -->
        </div>
        <!-- ./container -->
    </div>
    <!-- ./pricing -->
    <!-- Test-Monial -->
    <div class="test-monial">
        <div class="overlay">
            <div class="container">
                <div class="test-content">
                    <div class="test-item mg">
                        <div class="test-item-title">
                            <img src="images/Testimonial/perso1.webp" alt="">
                            <h2>Johan essa</h2>
                            <span>web designer</span>
                        </div>
                        <!-- ./test-item-title -->
                        <p class="test-item-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ea incidunt at, dicta pariatur eveniet Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ea incidunt at, dicta pariatur eveniet..</p>
                    </div>
                    <!-- ./test-item -->
                    <div class="test-item">
                        <div class="test-item-title">
                            <img src="images/Testimonial/perso2.webp" alt="">
                            <h2>John week</h2>
                            <span>web designer</span>
                        </div>
                        <!-- ./test-item-title -->
                        <p class="test-item-desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ea incidunt at, dicta pariatur eveniet Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ea incidunt at, dicta pariatur eveniet..</p>
                    </div>
                    <!-- ./test-item -->
                </div>
                <!-- ./test-content -->
            </div>
            <!-- ./container -->
        </div>
        <!-- ./overlay -->
    </div>
    <!-- ./test-monial -->

    <!-- Our Team -->
    <div class="team section-padding">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">our team</h2>
                <span class="line"></span>
            </div>
            <!-- ./section-header -->
            <div class="team-content">
                <div class="team-item tb-effect">
                    <div class="team-img">
                        <img src="images/team/team1.webp" alt="">
                        <div class="team-overlay">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- ./team-overlay -->
                    </div>
                    <!-- ./team-img -->
                    <div class="team-info">
                        <h3 class="team-info-title">John Doe</h3>
                        <span class="team-info-desc">Web Designer</span>
                    </div>
                    <!-- ./team-info -->
                </div>
                <!-- ./team-item -->
                <div class="team-item margin tb-effect">
                    <div class="team-img">
                        <img src="images/team/team2.webp" alt="">
                        <div class="team-overlay">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- ./team-overlay -->
                    </div>
                    <!-- ./team-img -->
                    <div class="team-info">
                        <h3 class="team-info-title">John Doe</h3>
                        <span class="team-info-desc">Web Designer</span>
                    </div>
                    <!-- ./team-info -->
                </div>
                <!-- ./team-item -->
                <div class="team-item tb-effect">
                    <div class="team-img">
                        <img src="images/team/team3.webp" alt="">
                        <div class="team-overlay">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <!-- ./team-overlay -->
                    </div>
                    <!-- ./team-img -->
                    <div class="team-info">
                        <h3 class="team-info-title">John Doe</h3>
                        <span class="team-info-desc">Web Designer</span>
                    </div>
                    <!-- ./team-info -->
                </div>
                <!-- ./team-item -->

            </div>
            <!-- ./team-content -->
        </div>
        <!-- ./container -->
    </div>
    <!-- ./team -->

    <!-- Blog Section -->
    <div class="blog section-padding">
        <div class="section-header">
            <h2 class="section-title">recent news</h2>
            <span class="line"></span>
        </div>
        <!-- ./section-header -->
        <div class="container">
            <div class="blog-content">
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="images/blog/blog1.webp" alt="">
                    </div>
                    <!-- ./blog-item-img -->
                    <div class="blog-info">
                        <ul class="blog-lis">
                            <li><i class="fa fa-user"></i>John Doe</li>
                            <li><i class="fa fa-clock-o"></i>18 oct</li>
                            <li><i class="fa fa-comment"></i>74</li>
                        </ul>
                        <!-- ./blog-lis -->
                        <h3 class="blog-title">Lorem ipsum dolor sit.</h3>
                        <p class="blog-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel laborum voluptatem doloribus deserunt esse nulla provident et consectetur corrupti dicta.</p>
                        <a href="#" class="blog-link">Read More</a>
                    </div>
                    <!-- ./blog-info -->
                </div>
                <!-- ./blog-item -->
                <div class="blog-item mg">
                    <div class="blog-item-img">
                        <img src="images/blog/blog2.webp" alt="">
                    </div>
                    <!-- ./blog-item-img -->
                    <div class="blog-info">
                        <ul class="blog-lis">
                            <li><i class="fa fa-user"></i>John Doe</li>
                            <li><i class="fa fa-clock-o"></i>18 oct</li>
                            <li><i class="fa fa-comment"></i>74</li>
                        </ul>
                        <!-- ./blog-lis -->
                        <h3 class="blog-title">Lorem ipsum dolor sit.</h3>
                        <p class="blog-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel laborum voluptatem doloribus deserunt esse nulla provident et consectetur corrupti dicta.</p>
                        <a href="#" class="blog-link">Read More</a>
                    </div>
                    <!-- ./blog-info -->
                </div>
                <!-- ./blog-item -->
                <div class="blog-item">
                    <div class="blog-item-img">
                        <img src="images/blog/blog3.webp" alt="">
                    </div>
                    <!-- ./blog-item-img -->
                    <div class="blog-info">
                        <ul class="blog-lis">
                            <li><i class="fa fa-user"></i>John Doe</li>
                            <li><i class="fa fa-clock-o"></i>18 oct</li>
                            <li><i class="fa fa-comment"></i>74</li>
                        </ul>
                        <!-- ./blog-lis -->
                        <h3 class="blog-title">Lorem ipsum dolor sit.</h3>
                        <p class="blog-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel laborum voluptatem doloribus deserunt esse nulla provident et consectetur corrupti dicta.</p>
                        <a href="#" class="blog-link">Read More</a>
                    </div>
                    <!-- ./blog-info -->
                </div>
                <!-- ./blog-item -->
            </div>
        </div>
        <!-- ./container -->
    </div>
    <!-- ./blog -->

    <!-- Get Section -->
    <div class="get">
        <div class="section-header">
            <h2 class="section-title">git in touch</h2>
            <span class="line"></span>
        </div>
        <!-- ./section-header -->
        <div class="container">

            <div class="get-content section-padding">
                <div class="get-item">
                    <a href="#"> <i class="fa fa-phone fa-4x"></i></a>
                    <h2 class="get-title">Phone</h2>
                    <h3 class="get-desc">512-421-3940</h3>
                </div>
                <!-- ./get-item -->
                <div class="get-item mg">
                    <a href="#"><i class="fa fa-envelope fa-4x"></i></a>
                    <h2 class="get-title">Email</h2>
                    <h3 class="get-desc">email@support.com</h3>
                </div>
                <!-- ./get-item -->
                <div class="get-item">
                    <a href="#"><i class="fa fa-map-marker fa-4x"></i></a>
                    <h2 class="get-title">Address</h2>
                    <h3 class="get-desc">1739 Bubby Drive</h3>
                </div>
                <!-- ./get-item -->
            </div>
            <!-- ./get-content -->

        </div>
        <!-- ./ container-->
    </div>
    <!-- ./get -->

    <!-- Footer -->
    <div class="footer">
        <img src="images/logo-alt.webp" alt="">
        <ul class="footer-links">
            <li><a href="" class="hover-opacity"><i class="fa fa-facebook"></i></a></li>
            <li><a href="" class="hover-opacity"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" class="hover-opacity"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="" class="hover-opacity"><i class="fa fa-youtube"></i></a></li>
            <li><a href="" class="hover-opacity"><i class="fa fa-instagram"></i></a></li>
            <li><a href="" class="hover-opacity"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        <p class="footer-copyright">Copyright &copy; 2020 . all right reserved. design by <span>mostafa</span></p>
    </div>
    <!-- ./footer -->

</body>

</html>